#topmostj
{
	background-color: #1F2833;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-family: verdana;
    font-size: 35px;
	color: white;
	text-align: center;
}
.inner
{
  overflow: hidden;
}
.inner img
{
  transition: all 1.5s ease;
}
.inner hover img
{
  transform: scale(1.2);
}
.inner:hover {
	overflow: hidden;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: rotate scale(1.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#top ul
{   
	padding: 5px;
	list-style-type: none;
	text-align: center;
	background-color: white;
	margin: 10px;
	border-radius: 5px;
}
#top ul li
{
	display: inline;
}
#top ul li a {
	text-decoration: none;
	font-family: Arial;
	padding: .2em 1em;
	color: black;
	background-color: white;
}
#top ul li a:hover {
	color: #000;
	background-color: green;
	transition: all 0.6s ease ;
	text-decoration: underline;
}
#images
{
	background-color: rgb(125,100,1);
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
}
#vbg
{   
	padding: 5px;
	list-style-type: none;
	text-align: center;
	background-color: #5c755e;
	margin: 10px;
	border-radius: 5px;
}
h1
{
	color: black;
	font-family: 'Sniglet', cursive;
	 
}
h2
{   color: blue;
	font-family: 'Sniglet', cursive;
}
h3
{
	color: red;
}
.sideright {
	display: flex;
	background-color: #e5e4d7;
	margin-left: 10px;
	margin-right:10px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 20px;
	font-size: 105%;
	clear: right;
	  
}
.sideright ul li a {
	text-decoration: none;
	font-family: Arial;
	padding: .2em 1em;
	color: black;
	background-color:#e5e4d7;
}
.sideright  ul li a:hover {
	color: #000;
	background-color: cyan;
	transition: all 0.6s ease ;
}
#sideright2 {
	float: right;
	background-color: #e5e4d7;
	margin-left: 10px;
	margin-right:10px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 20px;
	
}
#hotel1
{  	position: relative;
	background-color: #e5e4d7;
	margin-left: 10px;
	margin-right:10px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 20px;

}
.namebox
{
	width:100px;
	height:5px;
	border-radius:5px 5px 5px 5px;
	background:white;
	padding:10px;
	font-size:18px;
	margin-top:8px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
}
.button2{
	width:90px;
	height:30px;
	background:green;
	font-family:verdana;
	font-size:13px;
	color:white;
	border-radius:5px 5px 5px 5px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
	cursor:pointer;
	outline:none;
	}
.row
{
	display:flex;
	padding: 5px;
}
.column
{
	padding: 10px;
}
#m
{
 font-family: 'Sniglet', cursive;
}
#footer {
	background-color: #5c755e;
	margin: 10px;
	clear: both;
    border-radius: 5px;
    color: #efe5d0; 
    text-align: center;
    padding: 15px;
    font-size: 90%; 
}
#footer ul {
	padding: 5px;
	list-style-type: none;
	text-align: center;
	margin: 10px;
	border-radius: 5px;

}
#footer ul li {
	display: inline;
}
#footer ul li a {
	text-decoration: none;
	font-family: Arial;
	padding: .2em 1em;
	color: #efe5d0;
	background-color: #5c755e;
}
#footer ul li a:hover {
	color: #000;
	background-color: #fff;
	transition: all 0.6s ease;
}
img{
	border-radius: 5px;
}
#mallu
{
	background-color: #1F2833;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-family: verdana;
    font-size: 35px;
	color: white;
	text-align: center;
}

